@page "/user/auth"
@model GreenPoint.Dotnet.WebAdmin.Pages.UserAuth

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <base href="~/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login to account</title>
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            <img src="~/img/logo2.png" style="height: 100px" alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <h3>Sign In</h3>
            <form method="post" class="form-body">
                <input type="text" asp-for="SignInViewModel.Email" class="form-control m-1" placeholder="Email">
                <input type="password" asp-for="SignInViewModel.Password" class="form-control m-1" placeholder="Password">
                <input type="submit" asp-page-handler="SignIn" class="form-control btn btn-outline-primary m-1" value="Login">
            </form>
        </div>
        <div class="col-6">
            <h3>Sign Up</h3>
            <form method="post">
                <input type="text" asp-for="SignUpViewModel.Email" class="form-control m-1" placeholder="Email">
                <input type="text" asp-for="SignUpViewModel.Username" class="form-control m-1" placeholder="Username">
                <input type="password" asp-for="SignUpViewModel.Password" class="form-control m-1" placeholder="Password">
                <input type="submit" asp-page-handler="SignUp" class="form-control btn btn-primary m-1" value="Create new account">
            </form>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>